{{define "base"}}
<html>

<head>
  <link href="./static/codemirror/LtxTypstEdit.css?{{.Buildnr}}" rel="stylesheet">
  <link href="./static/codemirror/codemirror.css?{{.Buildnr}}" rel="stylesheet">
  <script src="./static/codemirror/codemirror.js?{{.Buildnr}}"></script>

</head>

<body>
  <div id="controlAddIn"></div>
</body>
<script>
  function initializeTextScroll() {
    //console.log('[addin] initializeTextScroll ');
    const controlAddIn = document.getElementById('controlAddIn');

    const fildSet = document.createElement('fieldset');
    fildSet.setAttribute("class", "edit");

    const textSourceElmt = document.createElement('textarea');
    textSourceElmt.setAttribute("id", "mySrcSetter");
    textSourceElmt.addEventListener('input', function () {
      console.log('[addin] Text is changed');
    });
    fildSet.appendChild(textSourceElmt);

    const dataJsonElmt = document.createElement('textarea');
    dataJsonElmt.setAttribute("id", "myDataJsonSetter");
    dataJsonElmt.addEventListener('input', function () {
      console.log('[addin] json changed...')
    });
    fildSet.appendChild(dataJsonElmt);

    controlAddIn.appendChild(fildSet);
  }
  function SetTextSource(txt) {
    const mySrcSetter = document.getElementById('mySrcSetter');
    mySrcSetter.value = txt || '';
  }
  initializeTextScroll();
  SetTextSource('Hello World!')
</script>

</html>
{{end}}