{{define "base"}}
<html>

<head>
  <link href="./static/codemirror/LtxTypstEdit.css?{{.Buildnr}}" rel="stylesheet">
  <link href="./static/codemirror/codemirror.css?{{.Buildnr}}" rel="stylesheet">
  <script src="./static/codemirror/codemirror.js?{{.Buildnr}}"></script>

</head>

<body>
  <div id="controlAddIn"></div>
  <div id="save"></div>
</body>
<script>
  let g_TypsEditor = null;
  let g_TypstText = '';
  let g_JsonEditor = null;

  function initializeTextScroll() {
    //console.log('[addin] initializeTextScroll ');
    const controlAddIn = document.getElementById('controlAddIn');

    const fildSet = document.createElement('fieldset');
    fildSet.setAttribute("class", "edit");

    const textSourceElmt = document.createElement('textarea');
    textSourceElmt.setAttribute("id", "mySrcSetter");
    textSourceElmt.addEventListener('input', function () {
      console.log('[addin] Text is changed');
    });
    fildSet.appendChild(textSourceElmt);

    const dataJsonElmt = document.createElement('textarea');
    dataJsonElmt.setAttribute("id", "myDataJsonSetter");
    dataJsonElmt.addEventListener('input', function () {
      console.log('[addin] json changed...')
    });
    fildSet.appendChild(dataJsonElmt);

    controlAddIn.appendChild(fildSet);
  }

  function SetTextSource(txt) {
    g_TypstText = txt;
    const mySrcSetter = document.getElementById('mySrcSetter');
    mySrcSetter.value = txt || '';
    if (!g_JsonEditor) {
      g_TypsEditor = CodeMirror.fromTextArea(mySrcSetter, {
        lineNumbers: true
      });
    }

    g_TypsEditor.on('change', (args) => {
      //console.log('[change]', args.doc)
      g_TypstText = '';
      if (args.doc.children) {
        if (args.doc.children[0]) {
          const child0 = args.doc.children[0]
          if (child0.lines) {
            //console.log('lines', child0.lines)
            const ll = child0.lines.map(a => a.text);
            g_TypstText = ll.join("\n")
          }
        }
      }
      //console.log('[content]', g_TypstText)
    })
  }
  function CreateSaveButton(){
    const divSave = document.getElementById('save');
    const btSave = document.createElement('button');
    btSave.innerText = "Read"
    divSave.appendChild(btSave);
    btSave.addEventListener('click', function () {
      console.log('[Read] ', g_TypstText)
    });
  }
  initializeTextScroll();
  SetTextSource('Hello World!')
  CreateSaveButton();
</script>

</html>
{{end}}