{{- define "linkbase" -}}
<a href="{{.HrefLink}}" target="_blank">{{.DisplayLink}}</a>
{{- end -}}

{{- define "figstack" -}}
<section class="vertstack">
    {{- range .Images}}
    <figure>
        <a href="#" id="{{.Id}}" onclick="appGallery.displayImage(`${id}`)"><img src="{{.Redux}}" alt="{{.Caption}}" /></a>
        <figcaption>{{.Caption}}</figcaption>
    </figure>
    {{- end}}
</section>
{{- end -}}

{{- define "youtube" -}}
<iframe allowfullscreen="allowfullscreen" frameborder="0" height="266" mozallowfullscreen="mozallowfullscreen" src="https://www.youtube.com/embed/{{.VideoID}}?feature=player_embedded\" webkitallowfullscreen="webkitallowfullscreen" width="320"></iframe>
{{- end -}}

{{- define "latestposts" -}}
<h3 class="centered subtitle">Ultimi post</h3>
<ul>
    {{- range .LatestPosts}}
    <li>
        <a href="{{.Link}}">{{.Title}}</a>
        <time datetime="{{.DateTime}}">{{.DateFormatted}}</time>
    </li>
    {{- end}}
</ul>
{{- end -}}
