{{define "mailSubj" -}}
Subject: New Comment in Blog
{{end}}

{{define "mailbody" -}}
<p>Hello my Friend,</p>
<p>there is a new comment that requires your attention.</p>

<ul>
    <li>{{.Name}}</li>
    <li>{{.Email}}</li>
    <li>{{.Comment}}</li>
    <li>{{.DateTime}}</li>
    <li>{{.Status}}</li>
</ul>

<p>Enjoy,</p>
<p>aaaasmile</p>
{{- end}}

{{define "mailPlain" -}}
Hello friend,
there is a new comment that requires your attention.

{{.Name}}
{{.Email}}
{{.Comment}}
{{.DateTime}}
{{.Status}}

Enjoy,
aaaasmile
{{- end}}