{{define "headTitle" -}}
<details class="comments"  hx-get="/blog-admin/{{.PostId}}/cmtDetails" hx-trigger="toggle once" hx-target="#cmtRes">
    <summary>{{.CmtTotText}}</summary>
    <span id="cmtRes"></span>
</details>
{{- end}}


{{define "headformDet" -}}
    <form action="/blog-admin/{{.ParentId}}/{{.PostId}}/newcomment?lang=it" method="post" hx-boost="true">
        <fieldset>
            <label for="name">Nome</label>
            <input id="name" name="name" value="" type="text" placeholder="Nome">
            {{if .HasDate -}}
            <label for="date">Data</label>
            <input id="date" name="date" value="" type="text" placeholder="Data">
            {{end -}}
            <label for="email">Email</label>
            <input hx-get="/blog-admin/validatoremail?lang=it" hx-target="next .error" name="email" id="email" type="email"
                value="" placeholder="Email">
            <span id="errmail" class="error"></span>
            <textarea id="comment" name="comment" type="text" name="message" rows="4" cols="50" maxlength="1024" 
                placeholder="Inserisci un commento..."></textarea>
        </fieldset>
        <fieldset class="cmd">
            <button type="submit">Pubblica</button>
            <button type="reset" onclick="document.getElementById('errmail').innerHTML =''">Resetta</button>
        </fieldset>
    </form>
{{end}}

{{define "treeDet"}}
    <ul>
        {{- range .CmtLines}}
        {{. -}}
        {{- end}}
    </ul>
{{- end}}